@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
    --bg-color: #080808;
    --second-bg-color: #131313;
    --text-color: beige;
    --second-text-color: aliceblue;
    --main-color: #00ffee;
    
}

* {
    scroll-behavior: smooth;
    margin: 0;
    list-style: none;
    text-decoration: none;
}

html{
    scroll-behavior: smooth;
    background-color: var(--bg-color);
}

body{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    color: var(--text-color);
    
}